{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Change Password</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                    {{ form.oldPassword.label(class_="form-control-label") }}
                    {{ form.oldPassword(class="form-control form-control") }}

                    {{ form.newPassword.label(class_="form-control-label") }}
                    {{ form.newPassword(class="form-control form-control") }}

                    {{ form.confirmNewPassword.label(class_="form-control-label") }}
                    {{ form.confirmNewPassword(class="form-control form-control") }}
            </div>
        </fieldset>
        <div class="form-group">
            <a class="btn btn-danger" type="button" href="{{ url_for('settings') }}" style="width:40%"><font size="5">Back</font></a>
            {{ form.submit(class="btn btn-primary",style="width:40%;font-size:24px" ) }}
        </div>
    </form>
</div>
{% endblock content %}