{% extends "layout.html" %}

{% block nav %}
<li class="nav-item">
  <a class="btn btn-outline-dark btn-sm" href="{{ url_for('AddItemManually', listId = listId) }}">Manual Add</a>
</li>
{% endblock nav %}

{% block content %}

    <div class="text-center">
        <h1>
            List's Contents
        </h1>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary btn-sm" type="button" href="{{ url_for('mainMenuRoute') }}" methods=["POST","GET"]>Scan Add</a>
            <a class="btn btn-success btn-sm" type="button" href="{{ url_for('mainMenuRoute')}}" methods=["POST","GET"]>Scan Delete</a>
        </div>
        <span class="d-block p-3 bg-dark text-white"></span>
        {% for item in contents %}
                <div class="form-group">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary btn-sm" disabled>{{item.name}}</button>
                    <button type="button" class="btn btn-secondary btn-sm" disabled>Quantity: {{ item.quantity }}</button>
                    <a class="btn btn-primary btn-sm" type="button" href="{{ url_for('deleteItem', itemName=item.name, listId=item.list_id) }}" methods=["POST"]>Delete One</a>
                    <a class="btn btn-success btn-sm" type="button" href="{{ url_for('AddOneItem', itemName=item.name, listId=item.list_id) }}" methods=["POST"]>Add One</a>
                </div>
                </div>
        {% endfor %}
    </div>
<!-- Modal -->


{% endblock content %}