{% extends "layout.html" %}
{% block content %}

    <div class="text-center">
        <h1>
            List's Contents
        </h1>
        {% for item in contents %}
            <article class="m879edia content-section">
                <div class="media-body">
                    <p>
                        {{ item.name }}
                        <small class="text-muted">Quantity: {{ item.quantity }}</small>
                    </p>
                </div>
            </article>
        {% endfor %}
    </div>

{% endblock content %}