{% extends "layout.html" %}
{% block content %}

    <div class="text-center">
        <h1>Main Menu</h1>
            <div class="form-group">
                <a class="btn btn-primary" type="button" href="{{ url_for('userLists') }}" style="width:100%"><font size="5">My Lists</font></a>
            </div>

            <div class="form-group">
                <a class="btn btn-primary" type="button" href="{{ url_for('listManagement') }}" style="width:100%"><font size="5">List Management</font></a>
            </div>

            <div class="form-group">
                <a class="btn btn-primary" type="button" href="{{ url_for('getItem') }}" style="width:100%"><font size="5">Get Item</font></a>            
            </div>

            <div class="form-group">
                <a class="btn btn-danger" type="button" href="{{ url_for('logout') }}" style="width:100%"><font size="5">Logout</font></a>
            </div>
    </div>

{% endblock content %}