{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">

                    {{ form.oldList.label(class_="form-control-label") }}
                    {{ form.oldList(class="form-control form-control") }}
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="form-group">

                    {{ form.newList.label(class_="form-control-label") }}
                    {{ form.newList(class="form-control form-control") }}
            </div>
        </fieldset>
       <div class="form-group">
            <a class="btn btn-danger btn-block btn-lg" type="button" href="{{ url_for('listManagement') }}">Back</a>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Rename</button>
        </div>
    </form>
</div>


{% endblock content %}