{% extends "layout.html" %}
{% block content %}

    <div class="text-center">
        <h1>Settings</h1>
        
        <div class="row">
            <div class="col-6 form-group">
                <a class="btn btn-primary" type="button" href="{{ url_for('editAccount') }}" style="width:70%"><font size="5">Edit Account</font></a>
            </div>
        </div>

        <div class="row">
            <div class="col-6 form-group">
                <a class="btn btn-danger" type="button" href="{{ url_for('mainMenuRoute') }}" style="width:70%"><font size="5">Back</font></a>
            </div>
        </div>
    </div>



{% endblock content %}