{% extends "layout.html" %}
{% block content %}

    <div class="text-center">
        <h1>
            Your Lists
        </h1>
        {% for list in lists %}
            <div class="form-group">
                <a class="btn btn-primary btn-block btn-lg" type="button" href="{{ url_for('listContents', listId = list.id) }}">{{ list.name }}</a>
            </div>
        {% endfor %}
            <div class="form-group">
                <a class="btn btn-danger btn-block btn-lg" type="button" href="{{ url_for('mainMenuRoute') }}">Back</a>
            </div>
    </div>

{% endblock content %}