{% extends "layout.html" %}
{% block content %}

    <div class="text-center">
        <h1>Main Menu</h1>
        
        <div class="row">
            <div class="col-6 form-group">
                <button href="#" type="button" class="btn btn-primary" style="width:70%"><font size="6">My Lists</font></button>
            </div>
        </div>

        <div class="row">
            <div class="col-6 form-group">
                <button href="#" type="button" class="btn btn-primary" style="width:70%"><font size="6">Settings</font></button>
            </div>
        </div>

        <div class="row">
            <div class="col-6 form-group">
                <button href="#" type="button" class="btn btn-danger align-bottom" style="width:70%"><font size="6">Log Out</font></button>
            </div>
        </div>
    </div>



{% endblock content %}